/*This class is designed to be the base form of 
 the app to set the size of the window or screen */
.background-chat-form {
    height: 100vh;
    margin: auto;
    padding: auto;
    background-color: powderblue;
}

/* This class is design the size of the contact box,
   the chat section and the input area. It´s prefereable
   use 100% to divided the other items according to
   percentage*/
.chat-boxes{
	height: 100%;
}

/* This class is the upper row of the chat which includes
    the header*/
/*.first-row{
	min-height: 10%;
	height: 10%;
	background-color: red;
}
*/
/* This class is the lower row of the chat which includes
    the contact section and the chat section*/
.second-row{
	height: calc(100% - 50px);
}

/* This class is designed to be the format of the contact
    section. */
.contacts-section{

	border: solid;
	overflow: auto;
	
}

/*This class is designed to be the format of
   the chat area and input bar area*/
.chat-section{

	border: solid;
	border-color: gray;
	

}

/*This class is designed to give format to 
  the messages sent. */
.message-sent{

	background-color: white;
	width: 60%;
	margin: 1%;
	border-style: solid;

}

/*This class is design to give format to
  the messages received. */
.message-received{

	background-color: white;
	width: 60%;
	border-style: solid;
	margin: 1% 1% 1% 39%;
}

/*This class is designed to give format to
   the input area of the chat section. */
.input-chat-control{

	resize: none;
	border: 1px solid;
	height: 100%;
}

/*Set a fix height of the navigation bar*/
.navbar{
	height: 50px;
}

@media screen and (max-width: 768px){
    
    .col-12{
        background-color: aqua;
        
    }
    
    .message-sent{
        width: 90%;
    }
    
    .message-received{
        width: 90%;
        margin: 1% 1% 1% auto;
    }
    
}