<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
    <script type="text/javascript">



    function ad(){

var myBar = "<%= firstN %>";

if (typeof myBar !== 'undefined'){
alert("Some alert");

}

 


    }
  
</script>
</head>

<body onload="ad()">

  <% include ../partials/nav.ejs %>



<!-- Material form login -->

<div class="bgimg">
  

<div class="container p-3">  
<div class="row">  
  <div class="col-sm">
<!-- Default form login -->
<form method="post" id="login" action="/welcome">
    <p class="h4 text-center mb-4">Sign in</p>

    <!-- Default input email -->
    <label for="defaultFormLoginEmailEx" class="white-text">Your name</label>
    <input id="defaultFormLoginEmailEx" class="form-control" name="userName" required>

    <br>

    <!-- Default input password -->
    <label for="defaultFormLoginPasswordEx" class="white-text">Your password</label>
    <input type="password" id="defaultFormLoginPasswordEx" class="form-control" name="userPassword" required>

    <div class="text-center mt-4">
        <button class="btn btn-indigo" id="button" type="submit">Login</button>
    </div>
           <div class="form-group">
          <div class="col-md-12 control">
              <div class="signUpBar" >
                  Don't have an account! 
              <a href="#" class="white-text">Sign Up Here</a>
              </div>
          </div>
        </div>  
</form>
<!-- Default form login -->

   </div>



     <div class="col-sm my-auto text-center">
      <div>
         <p class="title-chat">Connecting a billion people with chat</p>
      <button class="btn btn-indigo" id="button2">GET</button>

      </div>
   </div>
  </div>

  <!-- Material form login -->
</div>
</div>


</body>

</html>
