<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
    <script type="text/javascript">

//Jquery functio to submit the form without reloading the page.
$(document).ready(function(){
  $('#eventForm').submit(function (e) {
          
          // Get the name and the password
          var username = $("#userName").val();
          var password = $("#userPassword").val();

          // The parameters to be sent to the server
          var params = {username:username, password:password};

          console.log("This is name", username, "This is password", password);

          $.post("/registerUser", params, function(data, status){
              alert("Data: " + data + "\nStatus: " + status);
          });
          // Prevent the usual submit of the form by the "submit" button.
          e.preventDefault();      
  });
});

//Give a hint to the user if the name choose exist.
function hint(data)
{
   // THe user exist on the DB 
    if (data == true) { 
      alert("Sorry, the name chosen is already taken. Please select other.");
    }else{
        window.location.href = "/chat";
    }
}
</script>
</head>

<body>

  <% include ../partials/nav.ejs %>



<!-- Material form login -->

<div class="bgimg">
  

<div class="container p-3">  
<div class="row">  
  <div class="col-sm">
<!-- Default form login -->
<form method="post" id="eventForm">
    <p class="h4 text-center mb-4">Sign Up</p>

    <!-- Default input email -->
    <label for="defaultFormLoginEmailEx" class="white-text">Your name</label>
    <input id="userName" class="form-control" name="userName" required>

    <br>

    <!-- Default input password -->
    <label for="defaultFormLoginPasswordEx" class="white-text">Your password</label>
    <input type="password" id="userPassword" class="form-control" name="userPassword" required>

    <div class="text-center mt-4">
        <button class="btn btn-indigo" id="button" type="submit">Login</button>
    </div>
           <div class="form-group">
          <div class="col-md-12 control">
              <div class="signUpBar" >
                  You have an  existent account! 
              <a href="/" class="white-text">Sign In Here</a>
              </div>
          </div>
        </div>  
</form>
<!-- Default form login -->

   </div>
     <div class="col-sm my-auto text-center">
      <div>
         <p class="title-chat">Be part of this community and make connections around the world</p>
      </div>
   </div>
  </div>
  <!-- Material form login -->
</div>
</div>


</body>

</html>
