<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
<!-- Material form login -->

<div class="bgimg">
  

<div class="container p-3">  
<div class="row">  
     <div class="col-sm my-auto text-center">
      <div>
         <p class="title-chat">Thank you you have been register</p>
      </div>
   </div>
  </div>

  <!-- Material form login -->
</div>
</div>


</body>
</html>
